*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;   
    background: white; 
    padding:  20px;
    display: flex;
    align-items: stretch;
}

.logo{
    display: flex;
    float: left;
    width: 28%;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.logo img{
    width: 90%;
    max-width: 350px;
}

.text_header{
    display: flex;
    float: left;
    width: 72%;
    padding: 15px 25px 15px 25px;
    position: relative;
    user-select: none;
    color: #445354;
}

.text_header .body_text{
    color: #161b1c;
    max-width: 1150px;
    margin-right: auto;
    margin-bottom: 0;
}

.text_header .title_text{
    line-height: 1.2;
    width: 100%;
    color: #5fa3a5;
    font-weight: bold;  
}


.container {
    background: url("img/estrellas-bg.png"),url("img/background.png");
    background-color: #F2D272  ;
    background-size: auto 300px, cover;
    background-repeat: repeat-x, no-repeat;
    background-blend-mode: normal, multiply;
    width: 100%;
}
.container{
    padding: 1rem;
    min-height: calc(100vh - 130px - 110px);
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablero{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 5%;
    width: 100%;
    height: 100%;
}
.carta{
    width: 180px;
    height: 180px;
    background:url("img/tarjeta_cubierta.png");
    background-size: cover;
    align-items: center;
}

img {
    border-style: none;
    vertical-align: middle;
}

.redes{
    display: flex;
    flex-flow: column;
    background-color: black;
}

.redes a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}