/*
Author: Ing(c) Daniel Rico Palacio
primer Bootcamp "piscina-42" UTP sobre fullstack
Date:2023-01-13
Technologic University of Pereira
*/
*{
    padding: 0;
    margin: 0;
}


/*Start*/
.containerIntro{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 10;
}
/*definicio del tamaño y animacion de la imagen que contiene el containerIntro*/
.containerIntro img{
    width: 35%;
    animation: growImg 2.5s forwards ;
}
/*Animacion de interescalado de la imagen del intro*/
@keyframes growImg {
    20%{
        width: 35.9%;
    }
    40%{
        width: 35.3%;
    }
    60%{
        width: 35.7%;
    }
    80%{
        width: 34.4%;
    }
    100%{
        width: 35%;
    }
}

/*Definicion del boton para cerrar el containerIntro*/
.containerIntro .start_buttom{
    width: 180px;
    height: 45px;
    background-color: #ED921F;
    border: transparent;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: "Source Sans Pro",sans-serif;
    box-shadow: 0px 7px #d77c0e;
}

.start_buttom:hover{
    transform: translateY(5px);
    box-shadow: 0px 3px #d77c0e;
    cursor: pointer;
}

body{
    overflow:hidden;
}

/*Responsive para escalar la imagen a diferente resolucion con una animacion diferente de
acuerdo a su tamaño.*/
@media (max-width: 800px) {
    .containerIntro .start_buttom{
        width: 180px;
    }
    .containerIntro img{
    width: 85%;
    animation: growImgSmall 2.5s forwards ;
    }
    .containerIntro{
        width: 100%;
        height: 100%;
    }
    /*Animacion de intercalado cuando se activa el responsive*/
    @keyframes growImgSmall {
        20%{
            width: 86.2%;
        }
        40%{
            width: 85.3%;
        }
        60%{
            width: 86.5%;
        }
        80%{
            width: 84.4%;
        }
        100%{
            width: 85%;
        }
    }
  }

/*   HEADER   */
header{
    width: 100%;   
    background: white; 
    display: flex;
    align-items: stretch;
}

/*Definicion del contenedor del logo en la esquina superior izquierda donde se guardael logo de escuela didactica*/
.logo{
    display: flex;
    float: left;
    width: 28%;
    text-align: center;
    align-items: center;
    padding: 15px;
}
/*Tamaño que la imagen va a tomar respecto al contenedor .logo*/
.logo img{
    width: 90%;
}

/*Contenedor del texto arriba a superior derecha*/
.text_header{
    height: 100%;
    display: flex;
    float: left;
    width: 72%;
    padding: 15px 25px 15px 25px;
    position: relative;
    user-select: none;
    background-color: rgb(230, 249, 244);
}

/*Definicion del estilo del  cuerpo del texto del contenedor .text_header*/
.text_header .body_text{
    padding-top: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.562);
    max-width: 1150px;
    margin-right: auto;
}
/*Definicion del estilo del  cuerpo del texto del contenedor .title_header*/
.text_header .title_text{
    font-size: 35px;
    line-height: 1.2;
    width: 100%;
    color: #5fa3a5;
}

/*Responsive para que el .logo pase a arriba del .text_header y a su vez aumente su tamaño*/
@media (max-width: 800px) {
    header {
      display: inline;
    }
    .logo{
        width: 100%;
    }
    .text_header{
        width: 100%;
    }
  }

/*BODY*/
/*Definicion del contenedor que va a tener el tablero de juego y demas objetos*/
.container {
    background: url("img/estrellas-bg.png"),url("img/background.png");
    background-color: #F2D272  ;
    background-size: auto 300px, cover;
    background-repeat: repeat-x, no-repeat;
    background-blend-mode: normal, multiply;
    width: 100%;
}
.container{
    min-height: calc(100vh - 130px - 110px);
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Definimos el tablero para que siempre realice un arreglo de 4x4*/
#tablero{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    min-width: 500px;
    margin: 5%;
    width: 100%;
    height: 100%;
}

/*Estilo de la carta*/
#tablero .carta{
    width: 23%;
    height: 23%;
    cursor: pointer;
    justify-content:space-between ;
    background-color: transparent;
    perspective: 1000px;
}

/*Aca definimos la parte la animcacion de destapar una carta conservando su efecto 3d de la rotacion entres sus hijos*/
#tablero .carta .padre{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

/*Animacion para destapar la carta seleccionada*/
.rotation{
    transform: rotateY(180deg);
}

#tablero .carta .padre img{
    width: 100%;
    height: 100%;
}

/*Efecto para ambos hijos de .carta para esconder la parte de atras de cada una*/
#tablero .carta .front_card,.back_card{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#tablero .carta .front_card{
    background-color: transparent;
}

/*Animacion que se efectua cuando se da click para que la carta de atras pase a adelante*/
#tablero .carta .back_card{
    margin-top: -100%;
    background-color: transparent;
    transform: rotateY(180deg);
}


img{
    border-style: none;
    vertical-align: middle;
}

/*Definicion del contenedor de las redes*/
.redes{
    left: 0;
    bottom: 40.7%;
    position: fixed;
    display: inline-block;
    flex-flow: column;
}

.redes a{
    display: block;
    opacity: 0.5;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.redes a:hover{
    opacity: 1;
}

.redes .wsp{
    display: none;
}

.container .redes button{
    background: transparent;
    opacity: 0.5;
    border: transparent;
    cursor: pointer;
}

.container .redes button:hover{
    opacity: 1;
}


.container .redes .linkcopy{
    display: none;
}

/*Este estilo lo usamos para el letrero que aparece cuando seleccionamos el boton de compartir el link*/
.container .redes .active{
    display: inline;
    user-select: none;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #5ea4a5;
    background-color: white;
    color: #5ea4a5;
    border-radius: 10px;
}

/*Cuando la resolucion es menor de 800px desactivamos el contenedor de las redes dentro de .container*/
@media(max-width: 800px) {
    body{
        min-height: 400px;
        overflow-x: hidden;
    }
    .redes{
        display: none;
    }
  }
/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: fixed;
    background-color: rgb(230, 249, 244);
}

/*El footer_left es la parte de abajo a la izquierda donde definimos un tamaño de imagen con un max-width para que no tenga un escalado excesivo cuando la resolucion crece mucho*/
footer .footer_left{
    float: left;
    width: 50%;
    padding: 15px;
}

footer .footer_left img{
    width: 180px;
    max-width: 350px;
}

footer .redes_footer a{
    opacity: 0.6;
}

footer .redes_footer a:hover{
    opacity: 1;
}

.bottom_contact{
    background-color: #5ea4a5;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 2px 10px 3px;
    margin-left: 10px;
    height: max-content;
    padding: 8px;
}
.redes_responsives{
    display: none;
}
.footer_left_responsive{
    display: none;
}
/*Cuando la resolucion disminuya se activara el contenedor de .redes_responsive que traera las redes pero en una diferente posicion en la pantalla*/
@media (max-width: 800px) {
    footer{
        display: none;
        height: 7%;
    }
    .redes_footer{
        width: 100%;
    }
    .footer_left{
        display: none;
    }
    .bottom_contact{
        float: right;
    }
    .redes_responsives button{
        background: transparent;
        border: transparent;
        cursor: pointer;
    }
    .redes_responsives{
        color: grey;
        padding: 10px 20% 10px 60%;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        display: block;
        width: 100%;
        height: 30%;
    }

    .redes_responsives a{
    background: transparent;
    border: transparent;
    cursor: pointer;
    }
    .redes_responsives .linkcopy_responsive{
        display: none;
    }

    .redes_responsives .linkcopy_responsive .active{
    display: inline;
    user-select: none;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #5ea4a5;
    background-color: white;
    color: #5ea4a5;
    border-radius: 10px;
    }
    .footer_left_responsive img{
        width: 180px;
        max-width: 350px;
    }

    .footer_left_responsive{
        display: block;
        margin-top: 20px;
        margin-left: 27%;
        width: 50%;
        height: 10%;
        justify-content: center;
        text-align: center;
    }
}

